# Python / Django
backend/venv/
__pycache__/
*.pyc
.env
*.sqlite3
.idea/

# Node / React
**/node_modules/

# Project Documents
docs/11_audit_logs
docs/13_black_book
docs/15_demos
docs/99_archive

# Global OS Junk Files
.DS_Store
Thumbs.db
desktop.ini
*.swp