# Django Database & Cache
db.sqlite3
*.sqlite3
*.sqlite3-journal
__pycache__/
*.pyc

# Static & Media Assets
staticfiles/
media/

# Environments & Secrets
venv/
ENV/
.venv/
.env
.env.*

# Miscellaneous
data.json
*.log
.vscode/
.idea/
.DS_Store