# Django
db.sqlite3
__pycache__/
*.pyc

# Static & media
staticfiles/
media/

# Virtual environment
venv/

# Environment variables
.env

# Data dumps
data.json

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store