# Dependencies
/node_modules
/.pnp
.pnp.js

# Environments & Testing
/coverage
/build
.env.local
.env.*.local

# Logs and IDE configurations
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.vscode
/.idea
.DS_Store
