/* SIDEBAR */
.sidebar {
  width: 320px;
  background: linear-gradient(to bottom, #60a5fa, #3b82f6);
  /* Blue Sidebar */
  overflow-y: auto;
  min-height: 100vh;
}

/* USER BANNER */
.user-banner {
  background: url("./back-pic.png") no-repeat center center/cover;
}

/* MENU HOVER */
.menu-item:hover,
.submenu div:hover {
  background: rgba(255, 255, 255, 0.1);
}