.dashboard-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Below header */
.dashboard-body {
  flex: 1;
  display: flex;
  overflow: hidden;
}

/* Middle blank area */
.dashboard-content {
  flex: 1;
  background-color: #ffffff;
  padding: 20px;
  overflow-y: auto;
}
